%script{:src => "//cdnjs.cloudflare.com/ajax/libs/fullcalendar/1.6.4/fullcalendar.min.js"}
%link{:rel => "//cdnjs.cloudflare.com/ajax/libs/fullcalendar/1.6.4/fullcalendar.css"}
%link{:href => "../assets/stylesheets/fullcalendar-custom.css", :rel => "stylesheet"}/
:javascript
  $(document).ready(function() {
  
      $('#calendar').fullCalendar({
        header: {
          left: 'prev, today, next',
          center: 'title',
          right: ''
        },
        events: 
        [
        -@workouts.each do |workout|
          {
          title: '#{workout[1].name}' + ' ' + '#{workout[1].duration.to_s}'
          start: '#{workout[0].date.strftime('%Y-%m-%d')}'
          },
        ]
      })
  });

%p=@currentMonth
%p=@currentYear
%p=@previousMonth
%p=@previousYear
%p=@curr_user_month
%p=@prev_user_month
%p=@workouts

#calendar