%script{:src => "//cdnjs.cloudflare.com/ajax/libs/fullcalendar/1.6.4/fullcalendar.min.js"}
%link{:rel => "//cdnjs.cloudflare.com/ajax/libs/fullcalendar/1.6.4/fullcalendar.css"}
%link{:href => "../assets/stylesheets/fullcalendar-custom.css", :rel => "stylesheet"}/
:javascript
  $(document).ready(function() {
  
      $('#calendar').fullCalendar({
        header: {
          left: 'prev, today, next',
          center: 'title',
          right: ''
        }
      })
  
  });
%p Today, I'm awesome because this is my profile page

%p=@now
%p=@currentMonth
%p=@previousMonth

#calendar




