%script{:src => "//cdnjs.cloudflare.com/ajax/libs/fullcalendar/1.6.4/fullcalendar.min.js"}
%link{:rel => "//cdnjs.cloudflare.com/ajax/libs/fullcalendar/1.6.4/fullcalendar.css"}
%link{:href => "../assets/stylesheets/fullcalendar-custom.css", :rel => "stylesheet"}/
:javascript
  $(document).ready(function() {
      var random = []
      var workout_length = #{@workout_length}
      var workouts = #{raw @workouts.to_json}
      for(i=0;i<workouts.length;i++){
        random[i]={title: i+'', start: '2015-04=01'}
      }
      $('#calendar').fullCalendar({
        header: {
          left: 'prev, today, next',
          center: 'title',
          right: ''
        },
        events: random
      })
  });

%p=@currentMonth
%p=@currentYear
%p=@previousMonth
%p=@previousYear
%p=@curr_user_month
%p=@prev_user_month
%p=@workouts

#calendar