%script{:src => "//cdnjs.cloudflare.com/ajax/libs/fullcalendar/1.6.4/fullcalendar.min.js"}
%link{:rel => "//cdnjs.cloudflare.com/ajax/libs/fullcalendar/1.6.4/fullcalendar.css"}
%link{:href => "../assets/stylesheets/fullcalendar-custom.css", :rel => "stylesheet"}/
:javascript
  $(document).ready(function() {
  
      $('#calendar').fullCalendar({
        header: {
          left: 'prev, today, next',
          center: 'title',
          right: ''
        },
        events:
        [
        - @user_month.each do |day|
          {
          title  : "#{appointment.title}",
          start  : "#{appointment.start_event.strftime '%Y-%m-%dT%H:%M:%S'}",
          end    : "#{appointment.end_event.strftime '%Y-%m-%dT%H:%M:%S'}",
          allDay : #{appointment.allday}
          },
        ]
      })
  });

%p=@now
%p=@currentMonth
%p=@previousMonth

#calendar