/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require fullcalendar
 *= require bootstrap-datepicker3
 *= require bootstrap/glyphicons
 *= require_self
 */

body {
  background-color: rgb(249, 249, 249);
}

.content {
  line-height: 2;
  border-radius: 25px;
  background-color: #fff;
  padding-left: 3%;
  padding-right: 3%;
  padding-bottom: 2%;
  padding-top:2%;
  margin-left: 10%;
  margin-right: 10%;
  font-family: Arial, sans-serif;
}

.glyphicon,
.glyphicon-exclamation-sign,
.glyphicon-info-sign,
.glyphicon-calendar,
.glyphicon-plus-sign,
.glyphicon-minus-sign {
  vertical-align: middle !important;
}

.glyphicon-minus-sign {
  margin-left:5px !important; 
}

a,
a:hover,
a:active,
a:focus,
a:visited {
  color: #CC0000;
  text-decoration: none;
}

p.notice {
  font-size: 15px;
  color: #31708F;
}

p.alert {
  font-size: 15px;
  background-color: transparent;
  border: none;
  padding: 0px;
  color: #a94442;
}

div.note {
  color: #31708F;
}

/* navbar formatting */

.navbar-inner {
  background-image: none;
  background-color: #cc0000;
}

.navbar .nav > li > a {
  text-shadow: none;
  color: #fff;
}

.navbar .nav > li {
  padding-top: 4px;
}

.navbar, 
.navbar .brand {
  font-family: "Roboto Condensed";
  text-shadow: none;
  color: #fff;
  font-size:18px;
  font-weight: 500;
}

.navbar .divider-vertical {
  margin: 0px;
  height: 45px;
}

.navbar .nav > .active > a,
.navbar .nav > .active > a:hover {
  background-color: #cc0000;
  color: #ffffff;
}

.navbar .nav > li > a:hover,
.navbar .nav > li > a:focus,
.navbar .nav > li > li > a:hover {
  color: #fff;
  background-color: #cc0000;
}

label {
  cursor: default;
}

/* today and past_day formatting */

.activity_container:nth-child(2n) {
  background-color: rgb(249, 249, 249);
}

.activity_container {
  border-radius: 25px;
  text-align: center;
}

.activity_label {
  padding-left: 3px;
  padding-right: 3px;
}

.title_today {
  font-size: 24px;
}

a.remove_activity {
  text-decoration: none;
  color: #5cb85c;
}

a.activity_link.add_fields {
  text-decoration: none;
  color: #5cb85c;
}

a.day_link.add_fields,
a.remove_day {
  text-decoration: none;
  color: rgb(0, 85, 128);
}

.today.field,
.day.field {
  border: 2px;
  border-style: solid;
  border-color: #eaeaea;
  padding: 15px;
  border-radius: 25px;
}

.day.field {
  margin-top:5px;
  margin-bottom: 5px;
}

input#captcha {
  width: 125px;
}

a.remove_day,
a.remove_activity,
a.add_fields {
  display: none;
}

/* admin formatting */

a.admin_previous,
a.admin_next {
  text-decoration: none;
  font-size:28px;
  vertical-align: middle;
}

/* For Calendar Page */

#head{
  position: relative;
  height: 80px;
}

.calendar_name{
  font-size: 40px;
  float: left;
}

.money_earned{
  font-size: 40px;
  float: right;
}

.money_caption{
  float: right;
}

#legendhelper{
  position: relative;
}

.fc-state-highlight {
  background: none repeat scroll 0% 0% #d9edf7;
}