/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require fullcalendar
 *= require bootstrap-datepicker3
 *= require bootstrap/glyphicons
 *= require_self
 */

 p.notice {
  padding-top: 10px;
  font-size: 20px;
  color: blue;
 }
 .navbar {
  font-family: "Helvetica"; 
  font-weight: bold;
 }

.alert {
  background-color: transparent;
  border: none;
}

.content {
  border-radius: 25px;
  background-color: #fff;
  padding-left: 3%;
  padding-right: 3%;
  padding-bottom: 2%;
  padding-top:2%;
  margin-left: 10%;
  margin-right: 10%;
}

.navbar-inner {
  background-image: none;
  background-color: #cc0000;
}

.navbar .nav > li > a {
  text-shadow: none;
  color: #fff;
}

.navbar .brand {
  text-shadow: none;
  color: #fff;
}

.navbar .divider-vertical {
  margin: 0px;
}

.navbar .nav > .active > a,
.navbar .nav > .active > a:hover {
  background-color: #333333;
  color: #ffffff;
}

.navbar .nav > li > a:hover {
  color: #fff;
  background-color: #cc0000;
}

.activity_container:nth-child(2n + 1) {
  background-color: #EAEAEA;
}

.activity_container {
  border-radius: 25px;
  text-align: center;
}

.activity_label {
  padding-left: 3px;
  padding-right: 3px;
}

.title {
  font-size: 30px;
}

body {
  background-color: rgb(249, 249, 249);
}

a.remove_activity {
  text-decoration: none;
  color: #5cb85c;
}

a.activity_link.add_fields {
  text-decoration: none;
  padding-left: 8%;
  color: #5cb85c;
}

a.day_link.add_fields {
  text-decoration: none;
}

a.remove_day {
  text-decoration: none;
}