#calendar{
	margin: 0% 15%
}

.fc-header 
{
    text-align:center; 
    vertical-align:middle;
}

.denied
{
    border:1px solid #FF0000;
    background: #FF0000; 
    color: white;   
}

.approved
{
    border:1px solid #008000;
    background: #008000; 
    color: white;   
}

.pending
{
    border:1px solid #008000;
    background: #008000; 
    color: white;   
}